<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NativeRNApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EF6DA2E1D5EBC0C0003BFC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF6DA471D5EBC0C0003BFC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF6DA521D5EBC0C0003BFC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
